@using Eduhunt.Applications.ProfileService
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@inject IServiceProvider ServiceProvider

@{
    var httpContext = HttpContextAccessor.HttpContext!;
    var isAuthenticated = httpContext.Request.Cookies.ContainsKey("IdToken");
    var hasEmailCookie = httpContext.Request.Cookies.ContainsKey("email");
    var profileService = ServiceProvider.GetRequiredService<ProfileService>();
    var userEmail = string.Empty;

    if (isAuthenticated && hasEmailCookie)
    {
        var idToken = httpContext.Request.Cookies["IdToken"];
        userEmail = profileService.GetEmailFromToken(idToken!);
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Eduhunt</title>
    <link href="https://cdn.syncfusion.com/ej2/20.3.47/material.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/amazon-cognito-identity-js/6.3.1/amazon-cognito-identity.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/toastr@2.1.4/build/toastr.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header class="border-bottom py-2 navbar-light">
        <nav class="container d-flex align-items-center justify-content-between">
            <!-- Logo Section -->
            <div class="d-flex align-items-center">
                <span class="fw-bold text-primary display-4">EduHunt</span>
            </div>

            <!-- Centered Navigation Menu -->
            <div class="d-flex justify-content-center gap-4">
                <a href="/" class="text-decoration-none text-dark mx-3 @(Context.Request.Path == "/" ? "font-weight-bold border-bottom border-dark" : "")">
                    Home
                </a>
                <a href="/roadmap" class="text-decoration-none text-secondary mx-3 @(Context.Request.Path == "/roadmap" ? "font-weight-bold border-bottom border-dark" : "")">
                    Roadmap
                </a>
                @if (hasEmailCookie)
                {
                    <a href="/chat" class="text-decoration-none text-secondary mx-3 @(Context.Request.Path == "/chat" ? "font-weight-bold border-bottom border-dark" : "")">
                        Chat
                    </a>
                }
                <a href="/aboutus" class="text-decoration-none text-secondary mx-3 @(Context.Request.Path == "/aboutus" ? "font-weight-bold border-bottom border-dark" : "")">
                    About us
                </a>
            </div>

            <!-- User Authentication Section -->
            @if (isAuthenticated)
            {
                var profile = await profileService.GetProfileByUserEmailAsync(userEmail);
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="@profile?.AvatarImage" alt="User Avatar" class="avatar" style="width: 30px; height:30px; object-fit: cover">
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="userDropdown">
                        <li><a class="dropdown-item" href="/profile">View Profile</a></li>
                        <li><button class="dropdown-item" onclick="signout()">Logout</button></li>
                    </ul>
                </div>
            }
            else
            {
                <div class="d-flex align-items-center">
                    <a href="/Identity/Login" class="btn btn-primary d-flex align-items-center text-decoration-none">
                        <span>Sign In</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person ms-2" viewBox="0 0 16 16">
                            <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
                        </svg>
                    </a>
                </div>
            }
        </nav>
    </header>

    <div class="container">
        <main role="main">
            <partial name="_Notification" />
            @RenderBody()
        </main>
    </div>

    <footer class="bg-black text-white py-5">
        <div class="container">
            <div class="row">
                <!-- Contact Details Section -->
                <div class="col-md-6">
                    <h2 class="text-uppercase">Contact details</h2>
                    <hr />
                    <p><strong>Tel:</strong> +(504) 2276-0010</p>
                    <p><strong>Mov:</strong> +(504) 2276-0010</p>
                    <p><strong>Email:</strong> infozolutto@zolutto.com</p>
                </div>

                <!-- Menu Section -->
                <div class="col-md-6">
                    <h2 class="text-uppercase">Menu</h2>
                    <hr />
                    <ul class="list-unstyled">
                        <li><a href="/" class="text-decoration-none text-white">Home</a></li>
                        <li><a href="/aboutus" class="text-decoration-none text-white">About Us</a></li>
                        <li><a href="/roadmap" class="text-decoration-none text-white">Roadmap</a></li>
                        <li><a href="/chat" class="text-decoration-none text-white">Chat</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script>
        function signout() {
            fetch('/Identity/Login?handler=Logout', {
                method: 'GET',
                credentials: 'same-origin'
            })
                .then(response => {
                    if (response.ok) {
                        window.location.href = '/Identity/Login';
                    } else {
                        console.error('Logout failed. Status:', response.status);
                        return response.text().then(text => {
                            console.error('Response text:', text);
                        });
                    }
                })
                .catch(error => {
                    console.error('Error during logout:', error);
                });
        }
    </script>
    <script src="https://cdn.syncfusion.com/ej2/20.2.43/dist/ej2.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
